name: CI - build & trivy scan

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-scan:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t docker.io/${{ github.repository_owner }}/my-app:${{ github.sha }} .

      - name: Run Trivy (vulnerability scan) and produce SARIF
        uses: aquasecurity/trivy-action@v0.33.1
        with:
          image-ref: "docker.io/${{ github.repository_owner }}/my-app:${{ github.sha }}"
          format: sarif
          exit-code: '1'                      # cause step to fail if severities found
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          output: 'trivy-report.sarif'

      - name: Upload SARIF for GitHub code scanning
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: trivy-report.sarif
